<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="DefaultAppender"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${user.home}/logs/rocketmqlogs/tools_default.log</file>
		<append>true</append>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${user.home}/logs/rocketmqlogs/otherdays/tl_default-%d{yyyy-MM-dd}.%i.log
			</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>104857600</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
			<MaxHistory>10</MaxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%d{yyy-MM-dd HH:mm:ss,GMT+8} %p %t - %m%n</pattern>
			<charset class="java.nio.charset.Charset">UTF-8</charset>
		</encoder>
	</appender>

	<appender name="RocketmqToolsAppender"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${user.home}/logs/rocketmqlogs/tools.log</file>
		<append>true</append>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${user.home}/logs/rocketmqlogs/otherdays/tools-%d{yyyy-MM-dd}.%i.log
			</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>104857600</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
			<MaxHistory>10</MaxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%d{yyy-MM-dd HH:mm:ss,GMT+8} %p %t - %m%n</pattern>
			<charset class="java.nio.charset.Charset">UTF-8</charset>
		</encoder>
	</appender>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<append>true</append>
		<encoder>
			<pattern>%d{yyy-MM-dd HH\:mm\:ss,GMT+8} %p %t - %m%n</pattern>
			<charset class="java.nio.charset.Charset">UTF-8</charset>
		</encoder>
	</appender>

	<logger name="RocketmqTools" additivity="false">
		<level value="INFO" />
		<appender-ref ref="RocketmqToolsAppender" />
	</logger>

	<logger name="RocketmqCommon" additivity="false">
		<level value="INFO" />
		<appender-ref ref="RocketmqBrokerAppender" />
	</logger>

	<logger name="RocketmqStore" additivity="false">
		<level value="INFO" />
		<appender-ref ref="RocketmqBrokerAppender" />
	</logger>

	<logger name="RocketmqRemoting" additivity="false">
		<level value="INFO" />
		<appender-ref ref="RocketmqBrokerAppender" />
	</logger>

	<root>
		<level value="INFO" />
		<appender-ref ref="DefaultAppender" />
	</root>
</configuration>
