<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="DefaultAppender"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${user.home}/logs/rocketmqlogs/broker_default.log</file>
		<append>true</append>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<fileNamePattern>${user.home}/logs/rocketmqlogs/otherdays/broker_default.%i.log
			</fileNamePattern>
			<minIndex>1</minIndex>
			<maxIndex>5</maxIndex>
		</rollingPolicy>
		<triggeringPolicy
			class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<maxFileSize>100MB</maxFileSize>
		</triggeringPolicy>
		<encoder>
			<pattern>%d{yyy-MM-dd HH:mm:ss,GMT+8} %p %t - %m%n</pattern>
			<charset class="java.nio.charset.Charset">UTF-8</charset>
		</encoder>
	</appender>


	<appender name="RocketmqBrokerAppender"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${user.home}/logs/rocketmqlogs/broker.log</file>
		<append>true</append>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<fileNamePattern>${user.home}/logs/rocketmqlogs/otherdays/broker.%i.log
			</fileNamePattern>
			<minIndex>1</minIndex>
			<maxIndex>30</maxIndex>
		</rollingPolicy>
		<triggeringPolicy
			class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<maxFileSize>100MB</maxFileSize>
		</triggeringPolicy>
		<encoder>
			<pattern>%d{yyy-MM-dd HH:mm:ss,GMT+8} %p %t - %m%n</pattern>
			<charset class="java.nio.charset.Charset">UTF-8</charset>
		</encoder>
	</appender>


	<appender name="RocketmqTransactionAppender"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${user.home}/logs/rocketmqlogs/transaction.log</file>
		<append>true</append>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<fileNamePattern>${user.home}/logs/rocketmqlogs/otherdays/transaction.%i.log
			</fileNamePattern>
			<minIndex>1</minIndex>
			<maxIndex>5</maxIndex>
		</rollingPolicy>
		<triggeringPolicy
			class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<maxFileSize>100MB</maxFileSize>
		</triggeringPolicy>
		<encoder>
			<pattern>%d{yyy-MM-dd HH:mm:ss,GMT+8} %p %t - %m%n</pattern>
			<charset class="java.nio.charset.Charset">UTF-8</charset>
		</encoder>
	</appender>


	<appender name="RocketmqRebalanceLockAppender"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${user.home}/logs/rocketmqlogs/lock.log</file>
		<append>true</append>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<fileNamePattern>${user.home}/logs/rocketmqlogs/otherdays/lock.%i.log
			</fileNamePattern>
			<minIndex>1</minIndex>
			<maxIndex>5</maxIndex>
		</rollingPolicy>
		<triggeringPolicy
			class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<maxFileSize>100MB</maxFileSize>
		</triggeringPolicy>
		<encoder>
			<pattern>%d{yyy-MM-dd HH:mm:ss,GMT+8} %p %t - %m%n</pattern>
			<charset class="java.nio.charset.Charset">UTF-8</charset>
		</encoder>
	</appender>


	<appender name="RocketmqStatsAppender"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${user.home}/logs/rocketmqlogs/stats.log</file>
		<append>true</append>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<fileNamePattern>${user.home}/logs/rocketmqlogs/otherdays/stats.%i.log
			</fileNamePattern>
			<minIndex>1</minIndex>
			<maxIndex>5</maxIndex>
		</rollingPolicy>
		<triggeringPolicy
			class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<maxFileSize>100MB</maxFileSize>
		</triggeringPolicy>
		<encoder>
			<pattern>%d{yyy-MM-dd HH:mm:ss,GMT+8} %p %t - %m%n</pattern>
			<charset class="java.nio.charset.Charset">UTF-8</charset>
		</encoder>
	</appender>


	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<append>true</append>
		<encoder>
			<pattern>%d{yyy-MM-dd HH\:mm\:ss,GMT+8} %p %t - %m%n</pattern>
			<charset class="java.nio.charset.Charset">UTF-8</charset>
		</encoder>
	</appender>

	<logger name="RocketmqBroker" additivity="false">
		<level value="INFO" />
		<appender-ref ref="RocketmqBrokerAppender" />
	</logger>

	<logger name="RocketmqCommon" additivity="false">
		<level value="INFO" />
		<appender-ref ref="RocketmqBrokerAppender" />
	</logger>

	<logger name="RocketmqStore" additivity="false">
		<level value="INFO" />
		<appender-ref ref="RocketmqBrokerAppender" />
	</logger>

	<logger name="RocketmqTransaction" additivity="false">
		<level value="INFO" />
		<appender-ref ref="RocketmqTransactionAppender" />
	</logger>

	<logger name="RocketmqRebalanceLock" additivity="false">
		<level value="INFO" />
		<appender-ref ref="RocketmqRebalanceLockAppender" />
	</logger>

	<logger name="RocketmqRemoting" additivity="false">
		<level value="INFO" />
		<appender-ref ref="RocketmqBrokerAppender" />
	</logger>

	<logger name="RocketmqStats" additivity="false">
		<level value="INFO" />
		<appender-ref ref="RocketmqStatsAppender" />
	</logger>

	<root>
		<level value="INFO" />
		<appender-ref ref="DefaultAppender" />
	</root>
</configuration>
