name: Markdown Lint
on:
  pull_request:
    types: [opened, reopened, synchronize]
  push:
    branches:
      - develop
jobs:
  markdown-lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Install mardkdownlint
        run: npm install -g markdownlint-cli
      - name: Run markdownlint
        run: markdownlint  -c ./style/config.yml